.navbar {
    background-color:#d3d3d3;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content:flex-start;
}

.headerPic {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}