h1 {
  text-align: center;
  font-size: 3em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections {
  display: flex;
  flex-direction: row;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 12vw;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}